@import "partials/reset";

// ======================== GENERAL

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  min-height: 100vh;
  background-color: aliceblue;
  font-family: "Open Sans", sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

.show {
  outline: 1px solid red;
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1.2rem;
}

p {
  text-indent: 2rem;
}

// === MODIFICATORS

.-bold {
  font-weight: bold;
}

.--back-opacity {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: white;
  opacity: .6;
  z-index: 1;
}

// ======================== HEADER

.header {
  display: flex;
  height: 80vh;
  align-items: center;
  background: url("../img/header-back-2.jpg") 40% center no-repeat;
  background-size: cover;
  &__titles {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 400px;
    margin: 0 10%;
    text-shadow: 3px 3px 10px #000000;
    color: #4fe9ef;
  }
  .__title{
    //margin-bottom: 40px;
  }
  .__logo-img {
    width: 400px;
  }
}

// ========================== SECTIONS

.yoga-target {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background: url('../img/yoga-target-back.jpg') center center;
  background-size: cover;
  &__titles {
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0 30px;
    .__title {
      padding: 10px;
      font-weight: bold;
      text-align: center;
      text-shadow: 3px 3px 10px #4fe9ef;
      color: #484cb7;
    }
  }

  .targets {
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 5;
    .__section {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      width: 30%;
      h4 {
        font-weight: bold;
        text-align: center;
        text-shadow: 3px 3px 10px #4fe9ef;
        color: #484cb7;
      }
    }
    .__yoga-siluet {
      display: block;
      margin: 50px 0 20px;
    }
  }
}

// ==== program

.yoga-program {
  padding: 20px 50px 0;
  display: block;
  position: relative;
  background: url('../img/yoga-program-back.jpg') center center;
  background-size: cover;

  .row {
    display: flex;
    justify-content: space-around;
    margin: 40px 0;
    flex-wrap: wrap;
  }
  .__figure {
    z-index: 20;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    margin: 0;
  }
  .__figcaption {
    margin: 30px 0;
    text-align: center;
    line-height: 25px;
    font-weight: bold;
    font-size: 1.2rem;
  }
  .__img-box {
    display: flex;
    justify-content: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
  }
  .__img {
    object-fit: cover;
    min-height: 100%;
    min-width: 100%;
  }
}

// ================= info

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  position: relative;
  background: url('../img/info-back.jpg') center center;
  background-size: cover;

  .__content {
    padding: 0 20px;
    max-width: 80%;
    z-index: 10;
    font-size: 1.2rem;
  }

  .__article {
    margin: 40px 0;
    z-index: 10;
  }
  .title {
    text-align: center;
    margin-bottom: 30px;
    z-index: 10;
  }
}

// ======================== INSTRUCTORS

.instructors {
  display: flex;
  justify-content: center;
  position: relative;
  //background: url('../img/yoga-program-back.jpg') center center;
  background-size: cover;
  width: 90%;
  flex-wrap: wrap;

  .row {
    display: flex;
    justify-content: space-around;
    //margin: 40px 0;
    flex-wrap: wrap;
    flex: 1 1;
  }
  .__figure {
    z-index: 20;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    margin: 0 20px;
  }
  .__figcaption {
    margin: 30px 0;
    text-align: center;
    line-height: 25px;
    font-weight: bold;
    font-size: 1.2rem;
  }
  .__img-box {
    display: flex;
    justify-content: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
  }
  .__img {
    object-fit: cover;
    //display: block;
    min-height: 100%;
    min-width: 100%;
    //margin: 0 auto;
  }
}

// =========================== GALERY

.galery {

}






















